@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default variables for light */
:root {
  --background: 250 250 249;
  --foreground: 41 37 36;
}

/* Override when dark */
html.dark {
  --background: 17 24 39; /* gray-900 */
  --foreground: 243 244 246; /* gray-100 */
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.5s, color 0.5s; /* smooth mode swap */
}
